* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('bg.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
}

.navToTheTop {
    position: fixed;
    bottom: 1vh;
    right: 1vh;
    border-radius: 5px;
    width: 2vmax;
    height: 2vmax;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2vmax;
    z-index: 10;
}

.navToTheTop:hover {
    background-color: darkgreen;
    border: 1px solid black;
    cursor: pointer;
}

.navToTheTop .scrollUpIcon {
    display: inline-block;

}

.navToTheTop .scrollUpIcon::before {
    content: "\2191";
}

.loginBar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.loginBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.loginBar li {
    float: left;
    margin: 0 20px;
}

.loginBar a {
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 2vmax;
    color: #584948;
}

.loginBar a:hover {
    background-color: gold;
    color: black;
}
@media (max-width: 600px) {
    .loginBar a {
        font-size: 1.5vmax;
        padding: 3px;
    }

    .loginBar li {
        margin: 0 5px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1500px;
    width: 90%;
    box-shadow: 20px 20px 20px #000;
}
@media (max-width: 600px) {
    .container {
        box-shadow: 0px 0px 0px;
    }
}

.container header {
    background-image: url('header_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 30vmax;
}

.container header h1 {
    animation-name: title-fade-in;
    animation-duration: 3s;
    /*position: absolute;*/
    color: rgb(255, 200, 71);
    font-size: 2.6vmax;
    padding: 1vmax;
    background-color: black;
    border: 1px solid yellow;
    border-radius: 10px;
    text-align: center;
    display: block;
}

.container header h1:hover {
    filter: brightness(50%);
}

#toggleMenu {
    display: none;
}

#toggleMenu:checked + ul li {
    display: block;
}

.showMenuButton {
    width: 40px;
    display: block;
    border: 1px solid #000;
    padding: 10px;
    margin: 7px 5px 0 0;
}
@media (max-width: 1000px) {
    .showMenuButton {
        margin: 3px auto;
    }
}
@media (min-width: 1000px) {
    .showMenuButton {
        display: none;
    }
}

.showMenuButton span {
    background-color: #fff;
    height: 4px;
    display: block;
    margin: 0px 0px 5px 0px;
}

.showMenuButton span:last-child {
    margin: 0;
}

.mainMenu {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(200, 0, 0, 0.9);
}

.mainMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@media (max-width: 1000px) {
    ul {
        background-color: rgba(200, 0, 0, 0.9);
    }
}

.mainMenu li.mainMenuPoint {
    float: left;
    width: 20%;
    text-align: center;
}
@media (max-width: 1000px) {
    .mainMenu li.mainMenuPoint {
        float: none;
        text-align: center;
        width: 100%;
    }
}

.mainMenu li a {
    display: block;
    text-decoration: none;
    padding: 1vmax;
    color: black;
    font-weight: bold;
    font-size: 1.4vw;
    white-space: nowrap;
}
@media (max-width: 1000px) {
    .mainMenu li a {
        font-size: 2.7vw;
    }
}

.mainMenu li a:hover {
    background-color: black;
    color: goldenrod;
    cursor: pointer;
    animation-name: mainMenuHover;
    animation-duration: 1s;
}

.mainMenu li a:hover > a {
    color: goldenrod;
}

.mainMenu .hasSubmenu {
    position: relative;
}

.mainMenu .hasSubmenu li {
    height: 100%;
}

.mainMenu .hasSubmenu:hover .submenu {
    display: block;
}

.mainMenu .hasSubmenu .submenu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(200, 0, 0, 0.9);
    color: black;
}
@media (max-width: 1000px) {
    .mainMenu .hasSubmenu .submenu {
        position: relative;
    }
}

.mainMenu .submenu li:hover .hasSubmenu {
    color: black;
    background-color: rgba(200, 200, 200, 0.9);
}
@media (max-width: 1000px) {
    .mainMenu {
        height: 50px;
    }
    
    .mainMenu li {
        display: none;
    }
}

.content .introduction {
    background-color: #fff;
}

.content .introduction .sectionContent {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    .content .introduction .sectionContent {
        flex-direction: column;
    }
}

.mainContentSection.introduction .sectionContent .sectionContentItem {
    width: 40%;
    margin: 10px;
    font-size: 1.6vw;
    text-align: justify;
}
@media (max-width: 600px) {
    .mainContentSection.introduction .sectionContent .sectionContentItem {
        font-size: 2.7vw;
        width: 100%;
    }
}

.hasBox {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid goldenrod;
    border-radius: 10px;
}

.content .tableBooking {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .tableBooking .sectionContentItem {
    position: relative;
}

.content .tableBooking::before {
    background-image: url('pizza.jpg');
    background-size: cover;
    background-attachment: fixed;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: brightness(50%);
}

.content .tableBooking p {
    color: antiquewhite;
    text-align: center;
    font-size: 1.4vmax;
}

.content .mainContentSection {
    padding: 10px;
}

.content h2 {
    margin: 0 0 10px 0;
    text-align: center;
    color: #a5cd38;
    font-size: 3vmax;
    font-variant: small-caps;
}

.mainContentSection .tableBookingButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.mainContentSection*/ .tableBookingButton {
    font-size: 1.5vmax;
    padding: 1vmax;
    color: antiquewhite;
    background-color: #a5cd38;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 2vh;
}

/*.mainContentSection*/ .tableBookingButton:hover {
    background-color: darkgreen;
    color: rgb(233, 253, 246);
    cursor: pointer;
}

.sectionContentItem.containsImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContentSection.whyUs {
    background-color: #252525;
}

.sectionContentItemImage {
    border: 2px ridge #252525;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
}

.whyUsSlideshowPage {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    column-gap: 15px;
    row-gap: 5vh;
    grid-template-areas:
        "leftArrow contentArea rightArrow"
        "leftArrow buttonContainer rightArrow"    
    ;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
    height: 80vmin;
}

.whyUsSlideshowPage .slideContent {
    grid-area: contentArea;
    text-align: center;
    color: white;
}

.whyUsSlideshowPage .slideContent h3 {
    font-size: 3.5vw;
}
@media (max-width: 600px) {
    .whyUsSlideshowPage .slideContent h3 {
        font-size: 4vw;
    }

}

.whyUsSlideshowPage .slideshowPageItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whyUsSlideshowPage .buttonContainer {
    grid-area: buttonContainer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.whyUsSlideshowPage .buttonContainer button {
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 5px;
}

.whyUsSlideshowPage .leftArrow {
    grid-area: leftArrow;
}

.whyUsSlideshowPage .rightArrow {
    grid-area: rightArrow;
}

.whyUsSlideshow .arrow {
    border-radius: 50%;
    width: 2vmax;
    height: 2vmax;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 1.5vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whyUsSlideshow .arrow:hover {
    background-color: darkgreen;
    color: black;
    cursor: pointer;
}

.whyUsSlideshow .slideshowButton {
    border-radius: 50%;
    border: 0;
    width: 2vmax;
    height: 2vmax;
}

.whyUsSlideshow .page1,
.whyUsSlideshow .page2,
.whyUsSlideshow .page3 {
    position: relative;
}

.whyUsSlideshow .page1 *,
.whyUsSlideshow .page2 *,
.whyUsSlideshow .page3 * {
    z-index: 1;
}

.whyUsSlideshow .page1::before {
    background-image: url('slide1.jpg');
    background-size: cover;
    background-attachment: fixed;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: brightness(50%);
}

.whyUsSlideshow .page2::before {
    background-image: url('slide2.jpg');
    background-size: cover;
    background-attachment: fixed;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: brightness(50%);
}

.whyUsSlideshow .page3::before {
    background-image: url('slide3.jpg');
    background-size: cover;
    background-attachment: fixed;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: brightness(50%);
}

.whyUsSlideshow .page2 {
    background-image: url('slide2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.whyUsSlideshow .page3 {
    background-image: url('slide3.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.whyUsSlideshowPage .slideContent p {
    font-size: 1.6vw;
}
@media (max-width: 600px) {
    .whyUsSlideshowPage .slideContent p {
        font-size: 2.4vw;
    }
}

.customerOpinions {
    background-image: url('opinions_bg.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

.opinionContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.opinionContainer .opinion {
    font-size: 1.5vw;
    color: black;
    background-color: white;
    width: 25%;
    padding: 2vw;
    margin: 1vmax;
    border: 2px ridge black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    .opinionContainer .opinion {
        font-size: 2.7vw;
        border: 1px ridge black;
        border-radius: 4px;
        padding: 3vw;
        flex-basis: 100%;
    }
}

.opinionContainer .opinion .opinionSource {
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

footer * {
    position: relative;
}

footer::before {
    content: "";
    background-image: url('glasses.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(35%);
}

footer h4 {
    font-size: 2.1vw;
    color: antiquewhite;
    text-align: center;
}

footer div {
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
}

footer table {
    border-collapse: collapse;

}

footer table td {
    padding: 1vmin;
    border: 0;
}

footer table td:first-child {
    color: darkgray;
}

footer table td:last-child {
    color: white;
}
footer > div {
    margin-bottom: 2vmin;
}

.footerButton {
    font-size: 1.5vw;
    padding: 1vw;
    color: antiquewhite;
    background-color: #a5cd38;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 2vh;
}

.footerButton:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.cookies {
    background-color: black;
    color: gold;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 9;
    text-align: center;
}

.cookies .cookieText {
    margin-left: 6vw;
    margin-right: 2vw;
    display: inline-block;
    font-size: 13px;

}

.cookies .cookieAcceptButton {
    font-size: 13px;
    border: 1px solid #000;
    color: black;
    background-color: gold;
}

.cookies .cookieAcceptButton:hover {
    color: white;
    background-color: darkgreen;
    cursor: pointer;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


@keyframes mainMenuHover {
    from {background-color: rgba(200, 0, 0, 0.9); color: black;}
    to {background-color: black; color: goldenrod}
}

@keyframes title-fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

/* Style all font awesome icons */
.fa {
    padding: 1vw;
    font-size: 1.3vw;
    width: 3.2vw;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
